{{template "layout.tmpl" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Login</h1>

            {{if .Toast}}
                <div class="alert alert-danger">
                    {{.Toast}}
                </div>
            {{end}}

            <form action="{{.Url}}" method="post">
                <input type="hidden" name="SAMLRequest" value="{{.SamlRequest}}">
                <input type="hidden" name="RelayState" value="{{.RelayState}}">

                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" id="username" value="{{.Username}}" class="form-control" required
                           autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{{end}}
