{{template "layout.tmpl" .}}

{{define "title"}}Login{{end}}

{{define "content"}}
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="mt-3 text-center">{{.Title}}</h1>

            {{if .Description }}
                <div class="mt-3">
                    {{.Description}}
                </div>
            {{end}}

            {{if .Users}}
                <div class="mt-3">
                    <h2>Test Accounts</h2>
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{range .Users}}
                                <tr>
                                    <td>{{.Username}}</td>
                                    <td>{{.Password}}</td>
                                    <td>{{.Email}}</td>
                                    <td>{{.FirstName}}</td>
                                    <td>{{.LastName}}</td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
            {{end}}

            {{if .Toast}}
                <div class="mt-3 alert alert-danger">
                    {{.Toast}}
                </div>
            {{end}}

            <form action="{{.Url}}" method="post" autocomplete="off" class="mt-3">
                <input type="hidden" name="SAMLRequest" value="{{.SamlRequest}}">
                <input type="hidden" name="RelayState" value="{{.RelayState}}">

                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" name="username" id="username" value="{{.Username}}" class="form-control" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
{{end}}
